<div class="page-title">
	<h4>Чат</h4>
</div>

<div class="chat">
	<a class="chat-button chat-button__mobile"
	   (click)="sidebarTrigger()"
	>
		<i class="material-icons">{{open ? 'close' : 'menu'}}</i>
	</a>

	<!--Chat sidebar-->
	<div class="chat-sidebar" #chatSidebar>
		<div class="side-nav fixed">
			<div class="chat-sidebar__header">
				<div class="chat-user">
					<div class="avatar">
						<img src="../../../assets/img/user-default.png" alt="" class="circle">
						<span class="title">{{myName}}</span>
					</div>

					<div class="secondary-content">
						<i class="material-icons">more_vert</i>
					</div>
				</div>
			</div>

			<!-- User list -->
			<ul class="chat-sidebar__users">
				<div class="chat-search">
					<div class="search-area">
						<i class="material-icons mr-2 search-icon">search</i>
						<input type="text" placeholder="Пошук чату" class="app-filter">
					</div>
					<div class="add-user">
						<button
							class="add-user__btn"
							(click)="openModal()"
							[disabled]="!(users$ || []).length"
							[ngClass]="{'add-user__btn_disabled': !(users$ || []).length}"
						>
							<i class="material-icons add-user-icon">person_add</i>
						</button>
					</div>
				</div>
				<div *ngIf="(conversations$ || []).length">
					<li
						class="chat-user chat-user_hovered"
						*ngFor="let conversation of conversations$"
						(click)="selectConversation(conversation)"
						[ngClass]="{'user-active': isActive(conversation)}"
					>
						<div class="avatar">
							<img src="../../../assets/img/user-default.png" alt="" class="circle">
							<span class="title">{{setConversationName(conversation)}}</span>
						</div>

						<div class="secondary-content">
							<i class="material-icons">grade</i>
						</div>
					</li>
				</div>
			</ul>

			<app-loader *ngIf="isLoad"></app-loader>
		</div>
	</div>

	<!--Chat content-->
	<div class="chat-content">
		<div class="chat-content__header">
			<div
				class="chat-user"
				*ngIf="selectedConversation; else empty"
			>
				<div class="avatar">
					<img src="../../../assets/img/user-default.png" alt="" class="circle">
					<span class="title">{{setConversationName(selectedConversation)}}</span>
				</div>

				<div class="secondary-content">
					<i class="material-icons">grade</i>
					<i class="material-icons" (click)="onDelete()">delete</i>
					<i class="material-icons">more_vert</i>
				</div>
			</div>

			<ng-template #empty>
				<p>Виберіть чат!</p>
			</ng-template>
		</div>

		<!--Chat messages-->
		<div class="chat-content__messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
			<div
				class="message"
				*ngFor="let message of messages"
				[ngClass]="{' message_right': isAuthorMessage(message)}"
			>
				<div class="message-avatar" [ngClass]="{'message-avatar_hidden': !message.isFirst}">
					<a class="avatar">
						<img src="../../../assets/img/user-default.png" class="circle" alt="avatar">
					</a>
				</div>
				<div class="message-body">
					<small class="ml-2">{{message.createdAt | date:"short"}}</small>
					<div class="message-text" [ngClass]="{'message-text_first': message.isFirst}">
						<span>{{message.body}}</span>
					</div>
				</div>
			</div>
		</div>
		<!--Chat footer-->
		<div class="chat-footer">
			<form class="chat-input">
				<textarea
					type="text"
					[(ngModel)]="message"
					[ngModelOptions]="{standalone: true}"
					placeholder="Введіть ваше повідомлення"
					class="materialize-textarea message"
				></textarea>
				<button
					[disabled]="!selectedConversation || !message"
					class="btn"
					(click)="onSend()"
				>
					<span *ngIf="isDesktop(); else icon">Відправити</span>

					<ng-template #icon>
						<i class="material-icons">send</i>
					</ng-template>
				</button>
			</form>
		</div>
	</div>
</div>

<div class="modal" #modal>
	<div class="row">
		<div class="col s12">
			<div class="collection with-header">
				<div class="collection-header"><h5>Користувачі</h5></div>
				<a
					class="collection-item"
					*ngFor="let user of users$"
					(click)="selectUser(user)"
				>
					{{user.name}}
				</a>
			</div>
		</div>
	</div>
</div>


